body {
  background: hsl(30, 80%, 99%);
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  color: hsl(200, 80%, 20%);
}

h2 {
  text-align: center;
  padding-top: 2rem;
  font-family: "ABeeZee", sans-serif;
  color: hsl(200, 80%, 20%);
}

h6 {
  margin: 0 1rem 0.2rem 0.5rem;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  color: hsl(200, 80%, 20%);
}

#outer-wrapper {
  display: flex;
  flex-direction: row;
}

#header-wrapper {}

.title, .abstract {
  display: none;
}

.abstractcontent {
  /* width: 15rem; */
  padding-top: 0.5rem;
}

.showAbstractLink {
  width: 15rem;
  text-decoration: underline;
  font-weight: bold;
  color: hsl(210, 50%, 50%);
  cursor: pointer;
}

#search-wrapper {
  width: 13rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 2rem 1rem;
  padding-top: 1rem;
  background: hsl(200, 20%, 95%);
  border: 1px solid hsl(200, 30%, 70%);
  border-radius: 5px;
}

input[type=text] {
  /* float: left; */
  width: 10rem;
  margin: 0 1rem 1rem 0.5rem;
  padding: 4px 5px 3px 5px;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.7rem;
  color: hsl(200, 80%, 20%);
  border: 1px solid hsl(210, 20%, 70%);
}

.form-control {
  margin: 0 0.5rem 1rem 0.5rem;
}

#dropdownmenu-keyword, #dropdownmenu-type {
  width: 11rem;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.7rem;
  color: hsl(200, 80%, 20%);
}

#dropdownyear-wrappers {
  display: flex;
  flex-direction: row;
}

.dropdownyear-wrapper {
  display: flex;
  flex-direction: column;
}

#dropdownmenu-fromyear, #dropdownmenu-toyear {
  width: 5rem;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.7rem;
  color: hsl(200, 80%, 20%);
}

#reset-button {
  /* margin: auto; */
  width: 6.5rem;
  height: 1.8rem;
  margin: 0 1rem 1rem 0.5rem;
  background: hsl(0, 0%, 83%);
  border: 1px solid hsl(200, 80%, 35%);
  /* box-shadow: 2px 2px 0 hsl(200, 80%, 35%); */
  border-radius: 4px;
  padding: 5px 0 5px 0;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: hsl(200, 80%, 35%);
  cursor: pointer;
}

#reset-button:active {
  background: hsl(208, 52%, 60%);
}

#print {
  /* margin: auto; */
  width: 6.5rem;
  height: 1.8rem;
  margin: 0 1rem 1rem 0.5rem;
  background: hsl(0, 0%, 83%);
  border: 1px solid hsl(200, 80%, 35%);
  /* box-shadow: 2px 2px 0 hsl(200, 80%, 35%); */
  border-radius: 4px;
  padding: 5px 0 5px 0;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: hsl(200, 80%, 35%);
  cursor: pointer;
}

#entries {
  margin: 2rem 1rem 0.5rem 0.5rem;
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  color: hsl(200, 80%, 20%);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "ABeeZee", sans-serif;
}

#table-wrapper {
  overflow-y: auto;
  height: 90vh;
  margin: 2rem 1rem 2rem 0;
  border: 1px solid hsl(200, 30%, 70%);
}

th {
  position: sticky;
  top: 0;
  font-size: 0.8rem;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  background: hsl(200, 20%, 90%);
  color: hsl(209, 86%, 20%);
  padding: 0.2rem;
}

th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
th:nth-child(7),
th:nth-child(8) {
  cursor: pointer;
}

/* , 5, 6, 7 */

/* th:nth-child(n+1):nth-child(-n+15) {
  border-right: 1px solid;
} */

td:nth-child(1) {
  border-left: none;
}

td:nth-child(16) {
  border-right: none;
}

td {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.2;
  color: hsl(200, 100%, 13%);
  background: hsl(30, 80%, 99%);
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  border: 1px solid hsl(200, 30%, 70%);
}

/* @media screen and (max-width: 600px) {
  #outer-wrapper {
    flex-direction: column;
  }

  #table-wrapper {
    margin: 2rem 0 2rem 0;
    height: 60vh;
  }
} */
